<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <main>
    <div class="container">
      <div class="main__inner">
        <div class="forecast">
        </div>
      </div>
    </div>
  </main>
  {{>footer}}
  <script src="/js/lib/chart.min.js"></script>
  <script src="/js/lib/datalabels.min.js"></script>
  <script src="/js/time-format.js"></script>
  <script src="/js/chart.js"></script>
  <script src="/js/render.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>