<header class="header">
  <div class="container">
    <div class="header__inner">
      <h1><a href="/">{{title}}</a></h1>
      <form id="weather-search" class="search">
        <div class="search__container">
          <input type="search" placeholder="Location">
          <button type="submit">
            <span class="visually-hidden">Search</span>
          </button>
        </div>      
      </form>
    </div>
  </div>
</header>

